* {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav>ul {
    background: black;
    border-bottom: 5px solid blue;
    /*width: 960px;*/
    box-shadow:rgb(100,100,100)  0px 5px 5px;
    height:40px;
}

header {
    width:100%;
    background: black;
}
.submenu{
    position: absolute;
    /*visibility: hidden;*/
    list-style: ;
    top:40px;
    left:0;
    background: blue;
}