* {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

/* .topmenu {
    color: white;
} */

nav {
    /* background: black; */
    border-style: double;
    border-top: 5px blue;
}